.wrapper {
    height: 50px;
}

.full {
    width: 100%;
}

.half {
    width: 48%;
}

.button {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.main {
    background: var(--main, #39C4FF);
    color: #FFF;
}

.sub {
    border: 1px solid var(--main, #39C4FF);
    background: var(--sub, #FFF);
    color: var(--main, #39C4FF);
}