.wrapper {
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    color: #39c4ff;
}

.text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.text > span {
    font-size: 14px;
    font-weight: 500;
    margin-right: 3px;
}

.required {
    color: var(--main, #39c4ff);
}

.option {
    color: var(--font-grey, #929294);
}
