.container {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: #fff;
    position: relative;
    padding: 80px 0 0 0;
}