.pwDisplay {
    padding: 40px 0 0 0;

    &>p {
        font-size: 20px;
        font-weight: 500;
        text-align: center;

    }

    &>p:first-of-type {
        color: var(--main, #39C4FF);
        margin-bottom: 10px;
    }

    &>p:last-of-type {
        color: var(--font-black, #222);
        font-weight: 700;
    }

    &>ul {
        display: flex;
        justify-content: space-evenly;
        width: 70vw;
        max-width: 220px;
        margin: 50px auto 0 auto;
    }
}