.top {
    margin-top: 30px;
    margin-bottom: 10px;
}

.top > p {
    color: var(--font-grey, #929294);
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.title {
    color: var(--font-black, #222);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.amountContainer {
    margin-top: 20px;
}

.amountContainer > div {
    margin-bottom: 5px;
}

.amountContainer > div > input {
    width: 100%;
    border-bottom: 2px solid #39c4ff;
    padding-bottom: 4px;
    font-size: 16px;
}
.title1 {
    color: var(--font-black, #222);
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}

.amountContainer > p {
    color: var(--font-black, #222);
    font-size: 14px;
    font-weight: 500;
}

.bottom {
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
}

.bottom > .sub {
    color: var(--font-grey, #929294);
    font-family: Noto Sans KR;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom > div {
    margin: 13px;
}

.select {
    display: flex;
    justify-content: space-between;
}
