.container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    color: var(--font-black, #222);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.amountContainer {}

.amountContainer>h4 {}

.amountContainer>div {}

.amountContainer>div>input {
    width: 100%;
    border-bottom: 2px solid #39c4ff;
    padding-bottom: 4px;
    font-size: 16px;
}

.linkContainer {}

.linkContainer>h4 {}

.linkContainer>div {
    display: flex;
    height: 50px;
}

.linkContainer>div>div {
    width: 80%;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.linkContainer>div>button {
    width: 20%;
    border-radius: 0px 4px 4px 0px;
    background: var(--main, #39c4ff);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.copyButton {}

.link {
    overflow-x: scroll;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;

    scrollbar-width: none;
}

.link::-webkit-scrollbar {
    display: none;
}

.link>p {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.QRCodeImage {}

.QRCodeImage>img {
    border-radius: 0px 4px 4px 0px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.QRCodeImage>p {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #dd2f2f;
}


.tabContainer {
    display: flex;
    justify-content: space-around;
}

.tabContainer>li {
    width: 100%;
    height: 55px;
    border: 3px solid #39C4FF;
    border-bottom: none;
    border-radius: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeTab {
    background-color: #39c4ff;
    color: #fff;
}

.tabContainer>li:first-of-type {
    border-right: none;
    border-radius: 10px 0 0 0;
}

.tabContainer>li>span {
    font-size: 17px;
    font-weight: 600;
}