<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.doget.pay.account.repository.AccountMapper">
    <insert id="registerAccountY" parameterType="site.doget.pay.account.DTO.AccountDTO">
        INSERT INTO account_master (account_no, bank_code, pay_id, account_holder_name, account_balance, main_account_yn, registered_date, register_id)
        VALUES (#{accountNo}, #{bankCode}, #{payId}, #{accountHolderName}, #{accountBalance}, "Y", #{registeredDate}, #{registerId})
    </insert>

    <insert id="registerAccountN" parameterType="site.doget.pay.account.DTO.AccountDTO">
        INSERT INTO account_master (account_no, bank_code, pay_id, account_holder_name, account_balance, main_account_yn, registered_date, register_id)
        VALUES (#{accountNo}, #{bankCode}, #{payId}, #{accountHolderName}, #{accountBalance}, "N", #{registeredDate}, #{registerId})
    </insert>

    <select id="getAccountByAccountNo" resultType="site.doget.pay.account.DTO.AccountDTO">
        SELECT account_no as accountNo,
               bank_code as bankCode,
               account_holder_name as accountHolderName,
               account_balance as accountBalance,
               registered_date as registeredDate,
               register_id as registerId,
               main_account_yn as mainAccountYN
        FROM account_master
        WHERE account_no = #{accountNo}
    </select>

    <delete id="deleteAccount" parameterType="site.doget.pay.account.DTO.AccountDTO">
        DELETE FROM account_master
        WHERE account_no = #{accountNo}
    </delete>

    <select id="getAccountByPayId" parameterType="int" resultType="site.doget.pay.account.DTO.AccountDTO">
        SELECT account_no as accountNo,
               bank_code as bankCode,
               account_holder_name as accountHolderName,
               account_balance as accountBalance,
               registered_date as registeredDate,
               register_id as registerId,
               pay_id as payId,
               main_account_yn as mainAccountYN
        FROM account_master
        WHERE pay_id = #{payId}
    </select>

    <select id="getAccountsByPayId" parameterType="int" resultType="site.doget.pay.account.DTO.AccountDTO">
        SELECT account_no as accountNo,
               bank_code as bankCode,
               account_holder_name as accountHolderName,
               account_balance as accountBalance,
               registered_date as registeredDate,
               register_id as registerId,
               pay_id as payId,
               main_account_yn as mainAccountYN
        FROM account_master
        WHERE pay_id = #{payId}
    </select>

</mapper>
