<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.doget.pay.pay.transfer.repository.TransferMapper">
    <select id="findUserByPhone" parameterType="java.lang.String" resultType="Integer">
        SELECT user_id FROM user_master WHERE phone_no = #{receiver}
    </select>

    <select id="getPayAccount" parameterType="java.lang.String" resultType="Integer">
        SELECT paymoney_balance FROM pay_description WHERE user_id = #{sender}
    </select>

    <select id="findUserName" parameterType="java.util.Map">
        SELECT user_name FROM user_master WHERE phone_no = #{receiver}
    </select>

    <select id="getBankData" parameterType="java.util.Map">
        SELECT account_no as accountNo, bank_code as bankCode FROM account_master WHERE pay_id = #{sender}
    </select>

    <update id="withDrawPayAccount" parameterType="java.util.Map">
        UPDATE pay_description SET paymoney_balance = paymoney_balance - ${amount} WHERE pay_id = #{sender}
    </update>

    <update id="chargePayAccount" parameterType="java.util.Map">
        UPDATE pay_description SET paymoney_balance = paymoney_balance + ${amount} WHERE pay_id = #{receiver}
    </update>

    <insert id="insertTransferToHistory" parameterType="java.util.Map">
        insert into account_history values ('002', date_format(CONVERT_TZ(sysdate(), 'UTC', 'Asia/Seoul'), '%Y%m%d%H%i%S'),
                                            #{accountNo}, #{payId}, #{bankCode}, #{paymoneyBalance},
                                            #{amount}, #{receiver}, date_format(CONVERT_TZ(sysdate(), 'UTC', 'Asia/Seoul'), '%Y%m%d'),
                                            #{payId}, date_format(CONVERT_TZ(sysdate(), 'UTC', 'Asia/Seoul'), '%Y%m%d'), #{payId});
    </insert>
</mapper>
