.topInputContainer {
    padding-top: 56px;
}

.topInputContainer > div > input {
    width: 100%;
}
.bottomInputContainer > div > input {
    width: 100%;
}

.inputWithButton > div {
    display: flex;
}
.inputWithButton > div > input {
    width: 80%;
}
.inputWithButton > div > div {
    width: 20%;
}

.bottomInputContainer {
    padding-top: 30px;
}

.red {
    padding: 10px 0 0 5px;
    color: red;
}

.green {
    padding: 10px 0 0 5px;
    color: rgb(0, 160, 0);
}

.bottomButton {
    bottom: 15px;
    position: fixed;
    width: 100%;
}
