.top {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}

.redText {
    margin-bottom: 20px;
    color: #ff6020;
    font-size: 18px;
}

.topInput {
    /* border-bottom: 1px solid #e7e7e7; */
    color: #ff6020;
}

.midInput {
    margin-top: 30px;
}
.button {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.warning {
    color: red;
    margin-top: 10px;
}
