.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 106px;
    margin-top: 88px;
}

.inputContainer {
    margin-bottom: 39px;
}

.inputSubContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 16px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 14px;
}
