.container {}

.headerContainer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}

.headerContainer>div>button {
    color: var(--font-black, #222);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
}

.logoContainer {}

.logoContainer>svg {
    width: 80px;
    height: 80px;
}

.moneyContainer {
    height: 160px;
    background: var(--main, #39c4ff);
    border-radius: 10px;
    padding: 1rem;
    /* margin-top: 1rem; */
    margin-left: 12px;
    margin-right: 12px;
}

.moneyContainer>h4 {
    color: var(--sub, #fff);
    font-size: 1rem;
    font-weight: 700;
}

.moneyContainer>p {
    color: var(--sub, #fff);
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1.63rem;
    margin-bottom: 1.25rem;
}

.moneyButtonContainer {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.moneyButtonContainer>button {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* .moneyButtonContainer>button:first-of-type {
    border-radius: 5px 0px 0px 5px;
}

.moneyButtonContainer>button:last-of-type {
    border-radius: 0px 5px 5px 0px;
} */

.menuContainer {
    margin-top: 2.4rem;
    margin-bottom: 2.3rem;
    padding: 0 12px;
}

.menuList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
}

.menuWrapper {}

.menuButton {}

.menuButton>img {}

.menuButton>p {
    color: var(--font-black, #222);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0.3rem;
}

.historyContainer {
    padding: 0 12px;
}

.contahistoryContaineriner {}

.historyHeader {
    height: 2.8rem;
    background: var(--main, #39c4ff);
    color: var(--sub, #fff);
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0.75rem;
}

.historyBox {}

.historyList {}

.historyWrapper {
    border-bottom: 1px solid #d2d2d2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.histroyContent {
    display: flex;
    gap: 20px;
}

.histroyContent>p:first-of-type {
    color: var(--font-grey, #929294);
    font-size: 16px;
    font-weight: 500;
}

.histroyContent>p:last-of-type {
    color: var(--font-black, #222);
    font-size: 16px;
    font-weight: 400;
}

.historyAmount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.historyAmount>p:first-of-type {
    color: var(--font-black, #222);
    font-size: 18px;
    font-weight: 700;
}

.historyAmount>p:last-of-type {
    color: var(--font-grey, #929294);
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 360px) {
    .menuList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.7rem;
    }

    .menuWrapper {
        width: 30%;
        display: flex;
        justify-content: center;
    }
}