.container {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.contents {
    width: calc(100% - 24px);
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 60px;
}