<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.doget.pay.user.repository.UserMapper">

  <select id="findByEmail" resultType="site.doget.pay.security.jwt.User">
    SELECT email_no, password_no, roles
    FROM user_master
    WHERE email_no = #{emailNo}
  </select>

  <select id="getUserInfo" resultType="site.doget.pay.user.DTO.LoginResultDTO">
    SELECT user_id, email_no, user_name, phone_no
    FROM user_master
    WHERE email_no = #{emailNo}
  </select>


  <insert id="saveUser" useGeneratedKeys="true" keyProperty="user_id">
    insert into user_master (email_no, password_no, user_name, phone_no, agree1_yn, agree2_yn, agree3_yn, joined_date, registered_date, updated_date, roles)
    values (#{emailNo}, #{passwordNo}, #{userName},#{phoneNo},#{agree1Yn},#{agree2Yn},#{agree3Yn},
            date_format(CONVERT_TZ(sysdate(), 'UTC', 'Asia/Seoul'), '%Y%m%d'),
            date_format(CONVERT_TZ(sysdate(), 'UTC', 'Asia/Seoul'), '%Y%m%d'),
            date_format(CONVERT_TZ(sysdate(), 'UTC', 'Asia/Seoul'), '%Y%m%d'), 'USER')
  </insert>


</mapper>